#outer {
  width: 1250px;
}

#menu {
  width: 140px;
}

#content {
  padding-left: 0.7em;
  width: 1090px;
}

#menu ol {
  padding-right: 0.7em;
}

#sid {
  width: 1090px;
  height: 600px;
}