---
layout: default
title: Use cases
comments: true
plusone: true
---

{% for post in site.posts %}
  {% if post.categories contains "usecases" %}
    {% if post.tags contains "important" %}
      <p>
        <span class="title"><a class="link" href="{{ post.url }}">{{ post.title }}</a></span>
      </p>
    {% endif %}
  {% endif %}
{% endfor %}

{% for post in site.posts %}
  {% if post.categories contains "usecases" %}
    {% if post.tags contains "important" %}
    {% else %}
      <p>
        <span class="title"><a class="link" href="{{ post.url }}">{{ post.title }}</a></span>
      </p>
    {% endif %}
  {% endif %}
{% endfor %}

<p>We're open to new ideas and feature requests. The design of macros is still in flux, so it can be easily 
adjusted to embrace your personal use-cases and make the world a better place to live.</p>

<p>To submit a new use case to the repository (this is exactly how we included units of measurements
and data types "a la carte"), write to us at <a href="mailto:dev@scalamacros.org">dev@scalamacros.org</a> or
post the use-case <a href="http://groups.google.com/group/scalamacros">to the mailing list</a>.</p>

<p>
  <a href="/usecases/rss.xml"><img height="16" width="16" src="/media/images/rss.png" /> Subscribe to updates</a>
</p>
