<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>Scala Macros {% if page.title != null %}- {{ page.title }}{% endif %}</title>
    <meta name="keywords" content="Scala, macros, metaprogramming, quasiquotes, quasi-quotes, quasiquotations, quasi-quotations, kepler"/>
    <meta name="description" content="Web site of Project Kepler: Compile-Time Metaprogramming for Scala"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="alternate"  type="application/rss+xml" media="all" href="/rss.xml" />
    <link rel="stylesheet" type="text/css" media="all" href="/media/css/default.css" />
    <link rel="stylesheet" type="text/css" media="print" href="/media/css/print.css" />
    <link href="media/images/favicon.gif" rel="favicon">
  </head>
  <body>
    <div id="outer">
      <div id="header">
        <div class="home"><a href="{{ site.url }}" title="Scala">Scala Macros</a></div>
      </div>
      <div id="menu">
        <ol>
          <li>
            <ol>
              {% if page.url == "/news.html" or page.url == "/news/index.html" %}<li class="current">News</li>{% else %}
              <li><a href="/news.html">News</a></li>{% endif %}

              {% if page.url == "/index.html" %}<li class="current">Overview</li>{% else %}
              <li><a href="/index.html">Overview</a></li>{% endif %}

              {% if page.url == "/talks.html" %}<li class="current">Talks</li>{% else %}
              <li><a href="/talks.html">Talks</a></li>{% endif %}

              {% if page.url == "/usecases.html" %}<li class="current">Use cases</li>{% else %}
              <li><a href="/usecases.html">Use cases</a></li>{% endif %}

              {% if page.url == "/documentation.html" or page.url == "/sips/index.html" %}<li class="current">Documentation</li>{% else %}
              <li><a href="/documentation.html">Documentation</a></li>{% endif %}

              {% if page.url == "/documentation.html" or page.url == "/sips/index.html" or page.url == "/sips/macros.html" or page.url == "/sips/quasiquotations.html" %}
                {% if page.url == "/sips/macros.html" %}<li class="current">Macros</li>{% else %}
                <li><a href="/sips/macros.html">Macros</a></li>{% endif %}
                {% if page.url == "/sips/quasiquotations.html" %}<li class="current">Quasiquotations</li>{% else %}
                <li><a href="/sips/quasiquotations.html">Quasiquotations</a></li>{% endif %}
              {% endif %}

              {% if page.url == "/download.html" %}<li class="current">Download</li>{% else %}
              <li><a href="/download.html">Download</a></li>{% endif %}

              {% if page.url == "/feedback.html" %}<li class="current">Feedback</li>{% else %}
              <li><a href="/feedback.html">Feedback</a></li>{% endif %}
            </ol>
          </li>
        </ol>
      </div>
      <div id="content">
        {{ content }}
      </div>  
      <div id="footer">
        ScalaMacros.org site &copy; 2011 <a href="http://xeno.by">Eugene Burmako</a>.
      </div>
    </div>
  </body>
</html>
